@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.navbar_link--active {
    color: #0ea5e9;
    font-weight: 600;
    font-family: Poppins;
}

.navbar_link--active:hover {
    color: #0369a1;
}


.padding-search {
    padding: 0px 0px;
    width: 100%;
    margin-top: -70px;
}

.searchBox {
    background: linear-gradient(87.8deg, #FCFCFD 45.27%, rgba(252, 252, 253, 0.83) 98.19%);
    border: 1px solid #FCFCFD;
    box-shadow: 0px 40px 64px -32px rgba(15, 15, 15, 0.1);
}